*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background: radial-gradient(rgb(12, 54, 12), rgb(4, 27, 4));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(68, 165, 128, 0.658);
  width: 70%;
  margin: 3rem;
  border-radius: 1em;
}
